<style>
  .btn-search{
    background-color: #fe424d;
    color: white;
    border-radius: 1rem;
    width: 100px;

  }
   .btn-search:hover{
    background-color: #fe424d;
    color: white;
  }

  .form-control{
    border-radius: 1rem;
    width: 300px;
  }
</style>


<nav class="navbar navbar-expand-lg bg-body-light border-bottom sticky-top">
  <div class="container-fluid">
    <a class="navbar-brand" href="/"><i class="fa-regular fa-compass"></i></a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <a class="nav-link" href="/">Home</a>
        <a class="nav-link" href="/listings">All Listings</a>
        <a class="nav-link" href="/listings/new">Add New List</a>
      </div>

      <!-- //search bar -->
        <div class="navbar-nav ms-auto">
       <form class="d-flex" role="search" action="/listings/searchPage" method="post">
        <input class="form-control me-2" type="search" name="country" placeholder="Search" aria-label="Search"/>
        <button class="btn btn-search" type="submit">Search</button>
      </form>
      </div>


      <div class="navbar-nav ms-auto">
       <% if(!CurrentUser){%>
          <a class="nav-link" href="/signup">SignUp</a>
        <a class="nav-link" href="/login">Login</a>
       <% } %>
       <% if(CurrentUser) {%>
        <a class="nav-link" href="/logout">LogOut</a>
      <%}%>
      </div>
    </div>
  </div>
</nav>