<% layout("/layout/boilerPlate") %>
<!-- <body> -->
  <h1>All Data</h1>
<div class="row row-cols-lg-3 row-cols-md-3 row-cols-sm-1">
  <% for(let listing of allListing){ %>
    <a href="/listings/<%= listing._id %>" class="main">
  <div class="card col listing-card" style="width: 18rem">
    <img src="<%= listing.image %>" class="card-img-top" alt="listing-Image" style="height: 20rem;" />
    <div class="card-img-overlay"></div>
    <div class="card-body">
      <b><p class="card-text"><%= listing.title %></b><br>
        ₹ <%= listing.price ? listing.price.toLocaleString("en-IN") : "N/A" %>/Night
      </p>
    </div>
  </div>
  </a>
<% } %>
</div>
<!-- </body> -->
